@{
    Layout = "/Views/Shared/_PrototypeLayout.cshtml";
    ViewData["Concept"] = "civic";
    ViewData["ConceptNumber"] = "4";
}

<div class="concept-stage">
    <partial name="_PrototypeReel" />
    <partial name="_ServiceCategories" />
    <partial name="_AboutMenu" />
</div>
