@{
    Layout = "/Views/Shared/_PrototypeLayout.cshtml";
    ViewData["Concept"] = "command";
    ViewData["ConceptNumber"] = "1";
}

<div class="concept-stage">
    <partial name="_PrototypeReel" />
    <partial name="_LatestNewsCard" />
    <partial name="_ServiceCategories" />
    <partial name="_AboutMenu" />
</div>
