<div class="row justify-content-center featured-services">
    <div class="col-lg-12 section-heading featured-services-heading" style="">
        <span class="featured-services-span">
            FEATURED SERVICES
        </span>
    </div>
    <section class="service-sections featured-service-section" aria-label="Agency service areas">

        <article class="service-card" id="services">
            <span class="service-card__label">About</span>
            <h2>Illinois State Police History</h2>
            <p>Currently known as the Illinois State Police, ISP was founded in 1922</p>
            <a class="btn-isp"
               target="_blank"
               href="https://isp.illinois.gov/Home/About"
               a11y-a11y-hit-target="@A11yTargetSize.Minimum">
                ABOUT
            </a>
        </article>

        <article class="service-card" id="records">
            <span class="service-card__label">BECOME A TROOPER</span>
            <h2>Employment</h2>
            <p>More Information on Becoming a Trooper</p>
            <a class="btn-isp"
               target="_blank"
               href="https://isp.illinois.gov/JoinIsp"
               a11y-hit-target="@A11yTargetSize.Minimum">
                BECOME A TROOPER
            </a>
        </article>

        <article class="service-card" id="safety">
            <span class="service-card__label">PUBLIC SERVICES</span>
            <h2>Public safety updates</h2>
            <p>Find current advisories, preparedness resources, and regional safety information.</p>
            <a class="btn-isp"
               href="https://isp.illinois.gov/CitizenResources"
               target="_blank"
               a11y-hit-target="@A11yTargetSize.Minimum">
                PUBLIC SERVICES
            </a>
        </article>

        <article class="service-card" id="contact">
            <span class="service-card__label">LAW ENFORCEMENT SERICES</span>
            <h2>District offices</h2>
            <p>Locate offices, hours, and contact channels for agency services across the state.</p>
            <a class=" btn-isp"
               href="https://isp.illinois.gov/LawEnforcement"
               target="_blank"
               a11y-hit-target="@A11yTargetSize.Minimum">
                LAW ENFORCEMENT
            </a>
        </article>
    </section>
</div>
