
<footer class="border-top footer text-muted" id="ispFooter">

    @* FIRST FOOTER SECTION - Main Content *@
    <div class="footer-primary">
        <div class="container-fluid px-3 px-lg-5">
            <div class="row">

                @* Logo/Department Info Column *@
                <div class="col-12 col-lg-3 mb-4 mb-lg-0">
                    <div class="footer-section">
                        <div class="footer-logo mb-3">
                            <img src="~/img/isp_department seal (scaled).png" alt="Department Seal" />
                        </div>
                        <h6 class="text-white mb-3">Illinois State Police</h6>
                        <div class="footer-address">
                            <p class="mb-2">801 S. 7th St.<br />Springfield, IL 62703</p>
                        </div>
                    </div>
                </div>

                @* Quick Links Column *@
                <div class="col-12 col-lg-3 mb-4 mb-lg-0">
                    <div class="footer-section">
                        <h5 class="text-white mb-3">Quick Links</h5>
                        <ul class="footer-links-list">
                            <li><a href="/about-us.html">About Us</a></li>
                            <li><a href="/contact-us.html">Contact Us</a></li>
                            <li><a href="#">Work With Us</a></li>
                            <li><a href="#">Discrimination Complaint Form</a></li>
                            <li><a href="#">Freedom of Information</a></li>
                            <li><a href="#">Report a Scams</a></li>
                            <li><a href="#">Sexual Harassment Complaint</a></li>
                            <li><a href="#">Vendor Communication</a></li>
                        </ul>
                    </div>
                </div>

                @* All Departments Column *@
                <div class="col-12 col-lg-6 mb-4 mb-lg-0">
                    <div class="footer-section">
                        <h5 class="text-white mb-3">All Departments</h5>
                        <div class="row">
                            <div class="col-6">
                                <ul class="footer-links-list">
                                    <li><a href="/departments/accounting-revenue.html">Office of the Director</a></li>
                                    <li><a href="/departments/administrative-hearings.html">Academy &amp; Training</a></li>
                                    <li><a href="/departments/baiid.html">Patrol</a></li>
                                    <li><a href="/departments/budget-fiscal.html">Criminal Investigations</a></li>
                                    <li><a href="/departments/business-services.html">Forensics</a></li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <ul class="footer-links-list">
                                    <li><a href="/departments/court-of-claims.html">Justice Services</a></li>
                                    <li><a href="/departments/baiid.html">Statewid 911</a></li>
                                    <li><a href="/departments/budget-fiscal.html">Internal Investigation</a></li>
                                    <li><a href="/departments/business-services.html">Foid Card Review Board</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    @* SECOND FOOTER SECTION - State Links & Accessibility *@
    <div class="footer-secondary">
        <div class="container-fluid px-3 px-lg-5">
            <div class="row align-items-center py-3">
                <div class="col-12 col-md-6">
                    <a href="https://www2.illinois.gov/" class="me-3" aria-label="State of Illinois Logo">
                        <img src="~/img/IllinoisGov.png" alt="State of Illinois Logo" height="30" />
                    </a>
                </div>
                <div class="col-12 col-md-6 text-md-end">
                    <a href="https://gov.illinois.gov/" class="footer-secondary-link">Governor JB Pritzker</a>
                </div>
            </div>

            <div class="row py-3 border-top border-secondary">
                <div class="col-12">
                    <div class="footer-accessibility-links">
                        <a href="https://doit.illinois.gov/initiatives/accessibility/iitaa.html" class="footer-secondary-link me-4">
                            <img src="~/img/WA.svg" alt="Web Accessibility Icon" height="16" class="me-1" />
                            Web Accessibility
                        </a>
                        <a href="http://www.missingkids.com/" class="footer-secondary-link me-4">
                            <i class="fa fa-exclamation-triangle me-1"></i>Missing &amp; Exploited Children
                        </a>
                        <a href="http://www.amberillinois.org/" class="footer-secondary-link me-4">
                            <i class="fa fa-info-circle me-1"></i>Amber Alerts
                        </a>
                        <a href="https://www.illinois.gov/About/Privacy.html" class="footer-secondary-link">
                            <i class="fa fa-user me-1"></i>Illinois Privacy Info
                        </a>
                    </div>
                </div>
            </div>

            <div class="row py-3 border-top border-secondary">
                <div class="col-12 text-center">
                    <p class="mb-0 text-muted">&copy;2026 State of Illinois</p>
                </div>
            </div>
        </div>
    </div>

</footer>