<section aria-labelledby="page-title">
    <div class="mb-5 mt-lg-1">
        <h1 class="pb-2">Welcome to the Illinois State Police</h1>
        <p>
            <strong>
                This is the oath taken by every Illinois State Police Trooper. These men and women take pride in embracing the core values of law enforcement, with the
                sole objective of being excellent Illinois State Police public service employees. This oath is an ongoing and enduring promise of our commitment to the
                Citizens of the State of Illinois.
            </strong>
        </p>
        <p class="mb-5">
            <em>
                "I solemnly vow to the people of Illinois, upon my honor as an officer and citizen, to discharge the duties of an officer of the Illinois State Police to the best of my ability, to adhere to the rules and regulations of the Illinois State Police, and to adopt the Agency's mission and goals into my everyday life.
                I pledge to be honest in thought, word, and deed; to maintain unimpeachable integrity; to be just, fair, and impartial; to be steadfast against evil and its temptations; and to give my utmost to protect the rights, property, and lives of our citizens.
                I shall strive to give thoughtful, intelligent obedience to the commands of my superiors, to make my conduct friendly but impartial, courteous but firm, and charitable to the inadvertent violator.
                But I shall never compromise with crime and shall, at all times, uphold the Constitutions and laws of my country and the state of Illinois."
            </em>
        </p>
        <h2 class="ispHeader p-3">Vision</h2>
        <p class="ml-2">
            The Illinois State Police will strive for excellence in all we do - seeking to be one of the premier policing agencies in the country.
        </p>
        <h2 class="ispHeader p-3">Mission</h2>
        <p class="ml-2">
            The Illinois State Police will relentlessly protect public safety and pursue justice for the People of Illinois.
        </p>
        <h2 class="ispHeader p-3">Values</h2>
        <p class="ml-2">
            <strong>Integrity - </strong>Trust and Dependability to Act Responsibly<br />
            The Illinois State Police standard – respect, fairness, honesty, and ethical conduct – is exceedingly high. We are accountable for always having the courage to do what is right,
            even when no one is observing or evaluating.<br />
            <br />
            <strong>Service - </strong>Contribute to the Welfare of Others<br />
            The Illinois State Police is committed to performing duties to meet the needs of others and promoting proactive partnerships to identify problems and develop solutions to improve
            public safety and strengthen relationships with citizens and the criminal justice community.<br />
            <br />
            <strong>Pride - </strong>Respect for Self, Others, and the Organization<br />
            Believing in the integrity of our actions, the Illinois State Police takes pride in the results we achieve as individuals and as an organization.

        </p>
        <h2 class="ispHeader p-3">Goals</h2>
        <p class="ml-2">
            <strong>Improve the quality of life </strong>for our citizens through unimpeachable integrity, public service, training, and education.<br />
            <br />
            <strong>Safeguard the public </strong>by assisting law enforcement, decreasing traffic fatalities and injuries, and reducing crime and the fear of crime. <br />
            <br />
            <strong>Provide leadership </strong>through innovation as a dynamic, diverse, learning organization which promotes personal and professional growth.

        </p>
    </div>
</section>


