<footer>
    <section class="agency-footer" id="agency-footer" aria-labelledby="agency-footer-title">
        <div class="agency-footer__identity">
            <p>Illinois State Police</p>
            <h2 id="agency-footer-title">Integrity · Service · Pride</h2>
            <address>801 South 7th Street<br />Springfield, Illinois 62703</address>
        </div>
        <nav aria-label="Agency footer navigation">
            <a href="https://isp.illinois.gov/Home/About" target="_blank">About ISP</a>
            <a href="https://isp.illinois.gov/JoinIsp" target="_blank">Careers</a>
            <a href="https://isp.illinois.gov/Home/Contact" target="_blank">Contact ISP</a>
            <a href="https://isp.illinois.gov/Media/PressRelease" target="_blank">News</a>
        </nav>
        <div class="agency-footer__social" id="agency-social">
            <p>Follow ISP</p>
            <div>
                <a href="#" aria-label="Illinois State Police on Facebook">f</a>
                <a href="#" aria-label="Illinois State Police on Instagram">ig</a>
                <a href="#" aria-label="Illinois State Police on YouTube">yt</a>
                <a href="#" aria-label="Illinois State Police on X">x</a>
            </div>
        </div>
    </section>

    <section class="state-footer" aria-label="State of Illinois footer">
        <div class="state-footer__brand">
            <img src="~/img/IllinoisGov.png" alt="State of Illinois" />
            <span>An official website of the State of Illinois</span>
        </div>
        <nav aria-label="State website links">
            <a href="https://www.illinois.gov/" target="_blank">Illinois.gov</a>
            <a href="https://doit.illinois.gov/initiatives/accessibility/iitaa.html" target="_blank">Web Accessibility</a>
            <a href="https://www.illinois.gov/about/privacy.html" target="_blank">Privacy</a>
            <a href="#content">Back to top</a>
        </nav>
    </section>
</footer>
